
	<style >
	table {
	    font-family: arial, sans-serif;
	    border-collapse: collapse;
	    width: 100%;
	}

	td, th {
		white-space: nowrap;
	    border: 1px solid #dddddd;
	    text-align: left;
	    padding: 8px;
	    font-size: 100%;
	}

	tr:nth-child(even) {
	    background-color: #dddddd;
	}
	</style>